.boxes{
    background:brown;
    border-radius: 5px;
  
  
    width:100vw;
    height: 50vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 1em;
    margin-right: 1em;
  }
  
  
  img {
    width:4em;
  }
  
  
  body
  {
    font-size: 1em;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;/*using the flex layout*/
  }
  
  
  .main-section
  {
    display: flex;
    flex: 1;
    margin-top: 3rem;
  }
  