.boxes{
    background:#28292d;
    border-radius: 5px;

    width: 30%;

    padding: 2em;
    margin: 2em;

    align-items: center;
    justify-content: center;

    border: 1px #00FF89 solid;
  }
  
.boxes p {
  text-justify: newspaper;
}
  
  
  img {
    width:4em;
  }
  
  
  .main-section
  {
    display: flex;
  }
  