/*
    Web Atelier 2022

    Main css

    Author: __Belotcaci Valentino__

*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body{
  display: flex;
  font-size: 1em;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #23242a;

}

h1, h2
{
  color: #00FF89;
}

.main-home
{
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2em;
  padding-right: 2em;
  flex: 3 3;
}


.main-section
{
  display: flex;
  flex: 1;
  margin-top: 3rem;
}

.main-header img
{
  width: 16em;
}


.main-footer
{
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}



button{
  position:relative;
  width: 100%;
  padding: 17px 10px 10px;
  border: none;
  outline: none;
  font-size: 1em;
  letter-spacing: 0.05em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #00FF89;
}

button:hover{
  background-color: #8DFFCA;
  transition: 1s;
}


input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.6);
  background-image: linear-gradient(to right, #8DFFCA, #ff4500);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

input[type="range"]::-webkit-slider-thumb:hover {
  border: 2px solid #555;
  background-color: rgba(100, 100, 100,0.3);
  transition: 1s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  height: 40px;
  width: 60px;
  border-radius: 2px;
  background: rgba(40, 40, 40, 0.85);
  cursor: ew-resize;
  box-shadow: 0 0 5px 0 #000;
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  padding: 0;
  margin: 0;

  box-shadow: none;
  border: none;
  background: transparent;
}