/*
    Web Atelier 2022

    Main css

    Author: __Belotcaci Valentino__

*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body{
  display: flex;
  font-size: 1em;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #23242a;

}

h1, h2
{
  color: #00FF89;
}

.main-home
{
  flex: 3 3;
}

.main-section
{
  display: flex;
  flex: 1;
  margin-top: 5rem;
}

.main-header img
{
  width: 16em;
}


.main-footer
{
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}