.main-section
{
  display: flex;
  flex: 1;
  margin-top: 3rem;
}


:root {
    --maxGridWidth: 672px;
    --maxGridHeight: 630px;
    --smallgridWidth: 218.4px;
    --smallgridHeight: 218.4px;
    --cellWidth: 70px;
    --cellHeight: 70px;
    --cellBorder: 1px #ccc solid;
}



#grid {
    /* to creat the grid as 1 cell is 50x50 if max with is 480 only 9 cells fit in it */
    width: var(--maxGridWidth);
    height: var(--maxGridHeight);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

.smallgrid {
        width: var(--smallgridWidth);
        height: var(--smallgridHeight);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border: 3px #000 solid;
}
  
  #grid input {
    width: var(--cellWidth);
    height: var(--cellHeight);
    text-align: center;
    border: var(--cellBorder);
    box-sizing: border-box;
    border-spacing: 0;
    background-color: white;
    color: rgb(66, 66, 66);
    font-style: italic;
    text-decoration-line: underline;

  }

  .givennumber {
    text-decoration-line:none !important;
    font-size: medium;
    color: black !important;
    font-weight: bold !important;
    font-style: normal !important;
  }

  .wrong-cell {
    background-color: rgb(255, 180, 180) !important;
  }

  .correct-cell {
    background-color: rgb(187, 255, 187) !important;
  }

  .hint-cell {
    color: rgb(255, 98, 0) !important;
    font-weight: bold !important;
    font-style: normal !important;
    text-decoration-line:none !important;
    font-size: large;
  }

  .cell-highlight {
    background: rgb(226, 240, 255) !important;
    color: rgb(0, 102, 255) !important;
    font-weight: bold !important;
  }


  .form{
    width:100%;
    margin: 0 auto;
    display:block;
    text-align: center;
  }

  .info{
    margin-top: 4em;
    margin-bottom: 4em;
    width: 100%;
  }

button{
  width: 95%;
}

input[type="range"]{
  width: 95%;
  margin-right:0;
}

  button img{
    width: 40px;
    padding: 0;
  }



  @media all and (max-width: 720px)
{
  :root {
    --maxGridWidth: 448px;
    --maxGridHeight: 420x;
    --smallgridWidth: 145.6px;
    --smallgridHeight: 145.6px;
    --cellWidth: 46px;
    --cellHeight: 46px;
    --cellBorder: 1px #ccc solid;
}
  #grid {
    margin-left:5vw;
  }

  button img{
    width: 25px;
    padding: 0;
  }
  .info{
    margin-top: 1em;
  }

}

@media all and (max-width: 500px)
{
  :root {
    --maxGridWidth: 336px;
    --maxGridHeight: 315x;
    --smallgridWidth: 109.2px;
    --smallgridHeight: 109.2px;
    --cellWidth: 34px;
    --cellHeight: 34px;
    --cellBorder: 1px #ccc solid;
}
  #grid {
    margin-left:5vw;
  }
  button{
    width: 88%;
  }
  input[type="range"]{
    width: 88%;
  }

  button img{
    width: 25px;
    padding: 0;
  }
  .info{
    margin-top: 1em;
  }

}