/* body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

hr {
    width: 500px;
}

#errors {
    color: coral;
}

#board {
    width: 460px;
    height: 450px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px; 
    height: 48px;
    border: 1px solid lightgray;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 460px;
    height: 50px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px; 
    height: 44px;
    border: 1px solid black;
    margin: 2px;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: gray;
}

.tile-start {
    background-color: whitesmoke;
}

.horizontal-line {
    border-bottom: 1px solid black;
}

.vertical-line {
    border-right: 1px solid black;
} */

:root {
    --maxGridWidth: 480px;
    --maxGridHeight: 450px;
    --smallgridWidth: 156px;
    --smallgridHeight: 156px;
    --cellWidth: 50px;
    --cellHeight: 50px;
    --cellBorder: 1px #ccc solid;
}


#grid {
    /* to creat the grid as 1 cell is 50x50 if max with is 480 only 9 cells fit in it */
    width: var(--maxGridWidth);
    height: var(--maxGridHeight);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

.smallgrid {
        
        width: var(--smallgridWidth);
        height: var(--smallgridHeight);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border: 3px #000 solid;
}
  
  #grid input {
    width: var(--cellWidth);
    height: var(--cellHeight);
    text-align: center;
    border: var(--cellBorder);
    box-sizing: border-box;
    border-spacing: 0;
    background-color: white;
    color: rgb(66, 66, 66);
    font-style: italic;
    text-decoration-line: underline;

  }

  .givennumber{
    text-decoration-line:none !important;
    font-size: medium;
    color: black !important;
    font-weight: bold !important;
    font-style: normal !important;
  }

  .wrong-cell {
    background-color: rgb(255, 180, 180) !important;
  }

  .correct-cell {
    background-color: rgb(187, 255, 187) !important;
  }

  .hint-cell {
    color: rgb(255, 98, 0) !important;
    font-weight: bold !important;
    font-style: normal !important;
    text-decoration-line:none !important;
    font-size: large;
  }

  .color{
    background-color: #00FF89;
  }

 