<head>
    <title>Sudoku</title>
    <link rel="stylesheet"  href="/styles/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="icon" href="/styles/img/sudoku-logo.png" type="image/icon type">
    <meta name="author" content="Valentino Belotcaci">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>