<aside>
    <h1>Scoreboard</h1>
          <ul>
            <li>
              <span>1</span>
              <span>Albatross</span>
              <span>95</span>
              <span><img src="/styles/img/1award.png"></span>
            </li>
          </ul>
 </aside>