<main class = "main-home">
    <div class="box">
      <form class="form" method="POST" action="/sudoku/new_game">
        <h3>Enter the game!</h3>
        <div class="inputBox">
          <label>Username</label>
          <input type="text" required = "required">
          <br>
          <label>Difficulty</label>
          <input type="range" min="1" max="5" value="3">
          <br>
          <button type="submit">Play</button>
        </div>
      </form>

    </div>
</main>