<!--
    Web Atelier 2022

    Home Page

    Author: __Belotcaci Valentino__

    Exported to ejs: Hoormazd Pirayeshfar

-->
<html>
    <%- include("includes/head") %>
    <link rel="stylesheet"  href="/styles/css/home.css">
    <body>
      <%- include("includes/header") %>

      <section class="main-section">
        <%- include("includes/login") %>
      </section>
      <%- include("includes/footer") %>
    </body>
</html>