<html>
    <head>
        <title>Game Saturn</title>
        <link rel="stylesheet"  href="/styles/css/middle.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
        <link rel="icon" href="icons/joystick.png" type="image/icon type">
        <meta name="author" content="Student Name">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
      <header class="main-header">
        <a href="index.html"><img src="/styles/img/img.png"></a>
      </header>

      <section class="main-section">

        <div class="boxes">
          <img src = "img.png">
          <h1>Play solo</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <label>Difficulty</label>
          <input type="range" min="1" max="3" value="2" id="diff" name="diff">
          <br>
          <button type="submit">Play Solo</button>

        </div>

        <div class="boxes">
          <img src = "img.png">
          <h1>High Scores</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <button type="submit">See own highscores</button>
          <button type="submit">See all highscores</button>
        </div>

        <div class="boxes">
          <img src = "img.png">
          <h1>Play with friends</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <label>Difficulty</label>
          <input type="range" min="1" max="3" value="2" id="diff" name="diff">
          <br>
          <form class="" action="index.html" method="post">
            <button type="submit">Lobby of 2</button>
            <button type="submit">Lobby of 3</button>
            <button type="submit">Lobby of 4</button>
          </form>
          <button type="submit">Create lobby</button>
          <button type="submit">Join lobby</button>
        </div>
      </section>

      <footer class="main-footer">
        <p>Copyright © 2022 GameSaturn. All Rights Reserved</p>
      </footer>
    </body>
</html>
