<html>
    <%- include("includes/head") %>
    <head>
        <link rel = "stylesheet" href = "/styles/css/sudoku.css">
        <script src = "/sudoku.js"></script>
    </head>
    <body>
      <%- include("includes/header") %>

      <section class="main-section">
        <main>
            <h1>Sudoku</h1>
            <hr>
            <h2 id = "errors">0</h2>

            <!-- 9X9 board -->

            <div id = "board"></div>
            
            <div id="digits"></div>
            <br>
        </main>
      </section>
      <%- include("includes/footer") %>
    </body>
</html>