/*  creat variable to store collor
*/
:root {
    --maxGridWidth: 480px;
    --maxGridHeight: 450px;
    --cellWidth: 50px;
    --cellHeight: 50px;
    --cellBorder: 1px #ccc solid;
}


#grid {
    /* to creat the grid as 1 cell is 50x50 if max with is 480 only 9 cells fit in it */
    width: var(--maxGridWidth);
    height: var(--maxGridHeight);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  #grid input {
    width: var(--cellWidth);
    height: var(--cellHeight);
    text-align: center;
    border: var(--cellBorder);
    box-sizing: border-box;
    border-spacing: 0;

  }