

ul/*unordered list used in the aside for the scoreboard*/
{
  margin: 2em;
  padding: 0.2em;
  background: rgba(0,0,0,.1);
  width: 80vw;
  font-size: 1.2vw;/*using vw to make the ul be resizable*/
}

ul li
{
  display: flex;/*flex every li tag*/
  background: rgba(255,255,255,.1);/*background color for the non-top 3 scores*/
  padding: 0.6em 1.2em;
  color: black;
  margin: 0.3em;
  height: 8vh;
  transition: .5s;/*adding a transition of half second*/
}

ul li img
{
  width: 2vw;
}

/*adding the color contrast on the first 3 scores*/
/*any color we select as <aside> background, will create a contrast between the spans*/
ul li:nth-child(1)
{
  background: rgba(255,255,255,.6);
}

ul li:nth-child(2)
{
  background: rgba(255,255,255,.4);
}

ul li:nth-child(3)
{
  background: rgba(255,255,255,.2);
}

/*adding some spacing between the span elements in the li tag*/
ul li span:nth-child(1)
{
  min-width: 9%;
}

ul li span:nth-child(2)
{
  width: 50%;
  text-align: left;

}
ul li span:nth-child(3)
{
  width: 25%;
}

ul li span:nth-child(4)
{
  width: 16%;
}



/*Adding some animation to the scoreboard*/
ul li:hover
{
  transform: scale(1.06);/*scale itself to make a sort of transition*/
  background-color: #00FF89;
}


.main-section
{
  flex: 1;
  margin-top: 3rem;
}

